* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
}

.footer-content img {
    width: 32px;
    margin: 0 10px;
}

#about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}

#about-me p{
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

#education li{

    margin-top: 20px;
}

#education h3{
    margin-top: 20px;
    padding: 10px;
    background-color: #a0a0a0;
    border-radius: 5px;
}


#about-me img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

#skills {
    margin-top: 20px;
}

#skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#skills ul li {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 5px;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('img/hero-bg.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
}

#hero .intro img {
    border-radius: 50%;
    width: 150px;
}

#hero .intro h2 {
    margin: 20px 0 10px;
}

#hero .intro .cta {
    background: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
}
#contact {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact p {
    margin-bottom: 40px;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-link img {
    width: 50px;
    margin-bottom: 10px;
}